/* Логотип */
.logo-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* Назва сайту */
.site-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: yellow !important;
}

/* Жовтий текст для навігаційних елементів */
.myNav .nav-link,
.myNav .navbar-brand,
.myNav .dropdown-toggle,
.myNav .dropdown-item {
    color: yellow !important;
}

/* Фон навбару */
.myNav {
    background-color: black !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

    /* Для випадаючого меню */
    .myNav .dropdown-item {
        color: yellow !important;
        background-color: black !important;
    }

        .myNav .dropdown-item:active {
            background-color: #333 !important;
            color: #fff700 !important;
        }

        .myNav .dropdown-item:hover {
            color: #fff700 !important;
            background-color: #333 !important;
        }

    .myNav .dropdown-menu {
        background-color: black !important;
        border: none;
    }

    /* Для кнопки випадаючого меню */
    .myNav .dropdown-toggle {
        color: yellow !important;
    }

        .myNav .dropdown-toggle:hover {
            color: #fff700 !important;
        }

    /* Стилі для кнопки мобільного меню (дефолтний вигляд) */
    .myNav .navbar-toggler {
        background-color: black !important; /* Чорний фон для кнопки */
        border: 2px solid yellow !important; /* Жовта обводка */
    }

    .myNav .navbar-toggler-icon {
        background-color: yellow !important; /* Жовті риски для кнопки */
    }
