.user-card {
    background-color: black;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(255, 216, 0);
    width: 600px;
    text-align: center;
    transition: transform 0.3s ease;
}

    .user-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 12px rgb(255, 216, 0);
    }

h2 {
    color: yellow !important;
    margin-bottom: 10px;
}

p {
    color: yellow !important;
}
