h1 {
    font-size: 2.5rem;
    margin-bottom: 0px;
    font-weight: 700;
    color: #222 !important;
    font-family: 'Georgia', serif;
}

h2 {
    margin-bottom: 0px;
    font-weight: 600;
    color: #222 !important;
    font-family: 'Georgia', serif;
    text-align: center;
}

p {
    text-indent: 2em;
    font-size: 1.25rem;
    text-indent: 2em !important;
    color: #222 !important;
}

.discord-logo-image{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    cursor: pointer;
}

.steam-logo-image {
    width: 250px;
    height: 150px;
    border-radius: 100%;
    cursor: pointer;
}

.links-section {
    display: flex; /* робимо флекс-контейнер */
    justify-content: center; /* горизонтальне центруванн€ всього вм≥сту */
    width: 100%; /* розт€гуЇмо на всю ширину */
}

    /* ¬нутр≥шн€ .container Ц бажано теж поставити флекс-колонку
   (щоб Discord- ≥ Steam-блоки стали один п≥д одним) */
    .links-section .container {
        display: flex;
        flex-direction: column; /* елементи в колонку */
        align-items: center; /* центруЇмо њх усередин≥ */
        gap: 0px; /* пром≥жок м≥ж блоками */
        max-width: 1000px; /* за потреби обмежуЇмо ширину */
    }

.discord-section,
.steam-section,
.joining-text,
.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
    font-family: 'Georgia', serif;
}

.important-info {
    color: red !important;
    font-size: 15px;
    text-align: center;
}

.info-section {
    background-color: #eaeaea;
    padding: 30px 10px;
    text-align: center;
}

.top-questions-list, .needs-list {
    list-style: none;
    padding-left: 20px;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    flex: 1;
}

    .top-questions-list li {
        font-size: 1.25rem;
        line-height: 1.6;
        color: #333;
        position: relative;
        margin-bottom: 15px;
        background: url('../assets/Nr31FKR-logo-icon.svg') no-repeat left center;
        background-size: 30px 30px;
        padding-left: 38px;
    }



    .needs-list li {
        font-size: 1.25rem;
        line-height: 1.6;
        color: #333;
        position: relative;
        margin-bottom: 15px;
        background: url('../assets/one-bayonet-icon.svg') no-repeat left center;
        background-size: 45px 45px;
        padding-left: 55px;
    }

.needs-section {
    background-color: #eaeaea;
    padding: 40px 20px;
}

.needs-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
    max-width: 1000px;
    margin: 0 auto;
}

.needs-section-image {
    width: 400px;
    height: 225px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 4px solid black;
}

