h1 {
    color: yellow;
    text-align: center;
}

button {
    background-color: yellow;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}